/* font family linkup */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    /* background-color:#f5f5f7; */
    background: linear-gradient(90deg,rgb(239, 185, 239), #bcdbf2,rgb(127, 247, 247));
    box-sizing: border-box;
    margin: 0;
    padding:0;
    width: 100%; /* or 100vmax */
    height: 100%; /* or 100vmin */
 /* background-repeat: no-repeat; */
}

/* header er style start */
header{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:2px solid black;
}

/* nav bar style start from here */
.nav{
background-color:#1818185e;
position:relative; /* (.nav::before) property er jonno dewa hoyece. */
width: 100%;
max-width: 1300px;
margin:0;
height: 100px;

border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
border:2px solid rgba(151, 150, 150, 0.879);
}

/* nav er pichone blur korar jonno evabe (before)property use kore banate hobe. */
.nav::before{
    content:" ";
    position: absolute;
    top:0px;
    right:0px;
    left: 0px;
    bottom:-10px;
    filter: blur(10px);

    background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
z-index:-2;

border-radius: 10px;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.224);
background:linear-gradient(to right, #0090f794, #b962fc9d, #f2416ab5 );
border-radius: 5px;
padding:10px 20px;
position: relative;
/* for a tag hover korle jate ul er background e rgb shadow deka jai */
}

.fa-apple{
font-size: 30px;
}

.nav ul li{
    list-style: none;
    margin-left: 20px;
    padding: 10px;
}

.nav ul li a{
    text-decoration: none;
    color:black;
}

.nav ul li a:hover{
    background:linear-gradient(to right,rgb(127, 247, 247), #bcdbf2,rgb(255, 254, 254)  );
    background-clip: text;
   color:transparent;
}

/* 
.nav ul li a:hover ~ .nav > ul::before{
 content:"";
position:absolute;
top:20px;
left:0px;
right: 0px;
bottom: -10px;
 background: linear-gradient(to right,rgb(127, 247, 247), #bcdbf2,rgb(255, 254, 254) );
 z-index: -1;
 opacity: 0; ডিফল্টে শ্যাডো দেখানো হবে না
 transition: opacity 0.3s ease-in-out;
} */


/* nav bar style end from here */


 .get_up{
    padding-top: 15px;
 }


.header_big_title_div{
    width:80%;
    height: 80%;
   
    margin: 0px;
    display: flex;
    justify-content: space-between;
    border:2px solid red;

}

.title_colorful_text{
    background:linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
    background-clip:text;
    color:transparent;
}
.header_big_title_div h1,.title_colorful_text{
font-size: 35px;
font-weight: 800;
}

.p_tag{
    display: flex;
   justify-self: center;
   align-items: center;
}

.p_tag a{
color:rgb(53, 100, 243);
text-align: none;
}
 

/* header er style end here */







/* main tag style start from here */
/* main tag style end from here */

/* footer  style start from here */
/* footer  style end from here */
